@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


.movies-list{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

body{
    font-family: 'Poppins', sans-serif;
}